altair==5.5.0
attrs==24.3.0
blinker==1.10.0
branca==0.9.0
cachetools==5.6.0
certifi==2024.9.30
charset-normalizer==3.5.0
click==8.2.0
contourpy==1.4.0
cycler==0.13.0
folium==0.19.0
fonttools==4.56.0
gitdb==4.1.0
gitpython==3.1.44
idna==3.11
imbalanced-learn==0.13.0
imblearn==0.1
jinja2==3.2.0
joblib==1.5.0
jsonschema==4.24.0
jsonschema-specifications==2024.11.1
kiwisolver==1.5.0
markdown-it-py==3.1.0
markupsafe==3.1.0
matplotlib==3.10.0
mdurl==0.2.0
narwhals==1.14.0
numpy==2.1.0
nvidia-nccl-cu12==2.24.0
packaging==24.3
pandas==2.3.0
pillow==11.1.0
plotly==5.25.0
protobuf==5.29.0
pyarrow==19.0.0
pydeck==0.10.0
pygments==2.19.0
pyparsing==3.3.0
python-dateutil==2.10.0.post0
pytz==2024.3
referencing==0.36.0
requests==2.33.0
rich==13.10.0
rpds-py==0.22.0
scikit-learn==1.6.0
scipy==1.15.0
seaborn==0.14.0
six==1.17.0
smmap==5.1.0
streamlit==1.41.0
streamlit-folium==0.24.0
tenacity==9.1.0
threadpoolctl==3.6.0
toml==0.11.0
tornado==6.5.0
typing-extensions==4.13.0
tzdata==2024.3
urllib3==2.3.0
watchdog==6.1.0
xgboost==2.2.0
xyzservices==2024.10.0
